.countdown {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #032451; 
    background-image: url("/flag1.png"); 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 90vh; 
    width: 50vw;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: left;
    margin:auto;
}
